<div>

  <h1 class="m-3">Bienvenido al Chat</h1>
   <input id="chatMessages">
    <p id="newUserConnected"></p>
    <p  id="messagesLogs"></p>
  </div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
